* {
    margin: 0;
    font-family: Lexend;
}

body {
    margin: 0px 240px;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    bottom: 0;
    text-align: center;
    background-color: #075880;
    color: #ECEBE9;
}

.de_main {
    
}

.click_this_button_now {
    display: flex;
    justify-content: center;
}

.the_button {
    width: 18rem;
    height: 3.5rem; 
    background-color: #5C5D8D;
    color: whitesmoke;
    border-radius: 10px;
    border: none;
}

.nav{
    background-color: #075880;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0 32px 0 32px;
}

.cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red; /* You can change the color */
    border-radius: 50%;
    pointer-events: none;
}

a:visited{
    color: #ECEBE9;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a{
    color: #ECEBE9;
    text-decoration: none;
}
