* {
    margin: 0;
    font-family: Lexend;
}

body {
    margin: 0px 240px;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    bottom: 0;
    text-align: center;
    background-color: #075880;
    color: #ECEBE9;
}

.nav{
    background-color: #075880;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0 32px 0 32px;
}

a:visited{
    color: #ECEBE9;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a{
    color: #ECEBE9;
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.overlay-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.close:hover {
    color: #999;
}

.overlay-content > img {
    width: 250px;
    padding: 16px;
}

button {
    display: block;
    margin: 8px auto;
    padding: 10px 20px;
    background-color:#075880;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #85bbd7;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.carousel {
    position: relative;
    margin: auto;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding-bottom: 40px;
}
.carousel-container{
    display: flex;
    flex-direction: row;
    padding: 20px 0px 20px 0px;
}
.carousel img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 0.5s ease;
    opacity: 0;
}
.carousel img.active {
    opacity: 1;
}
